telebot
beautifulsoup4
requests
numpy
beautifulsoup4
randomizer
chardet
fpdf
nltk
numpy
beautifulsoup4
reportlab
pdfkit
wkhtmltopdf
python-telegram-bot==13.7
telegram
pandas
openai==0.27.8
qrcode
openpyxl
xlsxwriter
google